@use "@/styles/system";

.header{  
    background-color: system.$white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;    
    @media screen and (min-width: 769px){
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    }

    .wrapper{
        position: relative;
        background-color: system.$white;
        @include system.container-width-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px; 
        padding-bottom: 12px;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
        z-index: 50;        
        @media screen and (min-width: 769px){
            padding-top: 16px; 
            padding-bottom: 16px;
            box-shadow: none;
        }
        .brand{
            display: flex;
            line-height: 100%;
            a{
                display: flex;
                padding-bottom: 1px;
                img{
                    width: 125px;
                    height: auto;
                    @media screen and (min-width: 769px){
                        width: 145px;
                    }
                }
            }            
        }
        .actions{
            display: flex;
            align-items: center;
            column-gap: 15px;
            @media screen and (min-width: 769px){
                column-gap: 22px;
            }
            .subscription_btn{
                @include system.button(primaryYellow);               
            }
            .search_btn{
                height: 26px;
                width: auto;
            }
            .menu_btn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                width: 30px;
                .hamburger{
                    height: 22px;
                    width: auto;
                } 
                .close{
                    height: 24px;
                    width: auto;
                }               
            }
        }        
    } 

    .menu{
        background-color: system.$white;
        @include system.container-width-1;
        display: flex;
        flex-direction: column;        
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: scroll;   
        padding-top: 75px;
        padding-bottom: 50px;   
        @media screen and (min-width: 769px){
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            position: relative;
            overflow: auto;
            padding-top: 30px;
            padding-bottom: 25px;
        }
        .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7{
            display: flex;
            flex-direction: column;            
            padding: 15px 0 7px 2px;
            border-top: 1px solid system.$gray-5;
            @media screen and (min-width: 769px){
                border-top: none; 
                padding: 0 12px;
                border-right: 1px solid system.$gray-5;
            }
        }
        .col_1{  
            border-top: none;          
            @media screen and (min-width: 769px){
                border-left: 1px solid system.$gray-5;
            }
        }
        .link{
            width: fit-content;
            @include system.font-level-11;        
            font-weight: 500;
            color: system.$gray-2;
            text-transform: uppercase;
            line-height: 120%;
            border-bottom: 1px solid transparent; 
            margin-bottom: 8px;
            @media screen and (min-width: 769px){
                @include system.font-level-12; 
            }
            &:hover{
                color: system.$black-1;
                border-bottom: 1px solid system.$magenta;
            }
            &:first-child{
                color: system.$magenta;
                font-weight: 700;
            }
        }
    }
} 

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(234, 234, 234, 0.7);
    backdrop-filter: blur(5px);
    cursor: pointer;
}