@use "@/styles/system";

.header{
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #333;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}