@use "@/styles/system";

.header{  
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;
    background-color: system.$white;
    padding: 16px 0;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);

    .wrapper{
        @include system.container-width-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand{
            display: flex;
            line-height: 100%;
            img{
                width: 145px;
                height: auto;
            }
        }
        .actions{
            display: flex;
            align-items: center;
            column-gap: 22px;
            .subscription_btn{
                @include system.button(primaryYellow);   
                @media screen and (max-width: 768px){
                    display: none;
                }             
            }
            .search_btn{
                height: 26px;
                width: auto;
            }
            .menu_btn{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                width: 30px;
                .hamburger{
                    height: 22px;
                    width: auto;
                } 
                .close{
                    height: 24px;
                    width: auto;
                }               
            }
        }        
    } 

    .menu{
        @include system.container-width-1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-top: 35px;
        margin-bottom: 15px;
        .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7{
            display: flex;
            flex-direction: column;
            border-right: 1px solid system.$gray-5;
            padding: 0 12px;
        }
        .col_1{
            border-left: 1px solid system.$gray-5;
        }
        .link{
            width: fit-content;
            @include system.font-level-12;        
            font-weight: 500;
            color: system.$gray-2;
            text-transform: uppercase;
            line-height: 120%;
            border-bottom: 1px solid transparent; 
            margin-bottom: 8px;
            &:hover{
                color: system.$black-1;
                border-bottom: 1px solid system.$magenta;
            }
            &:first-child{
                color: system.$magenta;
                font-weight: 700;
            }
        }
    }
} 

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(234, 234, 234, 0.7);
    backdrop-filter: blur(5px);
    cursor: pointer;
}