@use "@/styles/system";

.wrapper{
    @include system.container-width-1;
    display: grid;
    grid-template-areas: 'share' 'block';
    grid-template-columns: 100% 100%;
    margin-bottom: 45px;
    @media screen and (min-width: 1200px){        
        grid-template-areas: 'share block';
        grid-template-columns:    
        60px
        calc(100% - (115px))
        ;
        column-gap: 55px;
        margin-bottom: 90px;
    }

    .share_wrapper{
        grid-area: share;
        position: relative;
        @media screen and (min-width: 1200px){     
            padding-bottom: 15px;
        }
    }                

    .blocks{     
        grid-area: block;       
        display: grid;      
        grid-template-areas: 'col-left';
        grid-template-columns: 100%;       
        @media screen and (min-width: 1200px){        
            grid-template-areas: 'col-left col-right';
            grid-template-columns:
            calc(100% - (330px))
            300px
            ; 
            column-gap: 30px;
        }

        .col_left{
            grid-area: col-left;   

            .paragraph{
                @include system.font-level-11;   
                font-weight: 400;
                color: system.$black-2;
                line-height: 152%; 
                padding-top: 10px;
                margin-bottom: 8px;  
                @media screen and (min-width: 769px){
                    margin-bottom: 10px;       
                }
                &:first-of-type{
                    &::first-letter {
                        font-size: 47px; 
                        line-height: 100%;
                        float: left; 
                        margin-right: 8px; 
                        font-family: 'PPEiko',  Helvetica, sans-serif;
                        font-weight: 700;
                        color: system.$magenta;
                        @media screen and (min-width: 1200px){ 
                            font-size: 58px; 
                        }
                    }
                }                                 
                strong{
                    font-weight: 600;
                }                
                a{
                    color: system.$magenta;
                    text-decoration: underline;
                }                
            }   
                
            .subtitle{
                font-family: 'PPEiko',  Helvetica, sans-serif;
                @include system.font-level-7; 
                font-weight: 700;
                color: system.$black-2;
                line-height: 130%;
                padding-top: 15px;
                margin-bottom: 5px;
                @media screen and (min-width: 769px){
                    margin-bottom: 10px;       
                }
            }

            .image_wrapper{
                display: flex;
                flex-direction: column;    
                padding: 22px 0;
                @media screen and (min-width: 769px){
                    padding: 25px 0;     
                }
                .image{
                    width: 100%;
                    height: auto;
                    padding-bottom: 5px;
                }
                .caption{
                    @include system.font-level-12;   
                    font-weight: 400;
                    color: system.$gray-2;
                    line-height: 150%; 
                }
            }               

            .horizontal_ad{                
                padding: 22px 0;
                @media screen and (min-width: 769px){
                    padding: 25px 0;       
                }
                .ad_wrapper{
                    height: 480px;
                    background-color: #e3e3e3;
                }
            }         
        }

        .col_right{       
            grid-area: col-right; 
            display: none;
            @media screen and (min-width: 1200px){                
                display: block; 
                position: relative;
                padding-bottom: 15px;                
            }
                
            .ad_wrapper{
                position: sticky;
                top: 100px;
                background-color: #e3e3e3;
                width: 100%;
                height: 600px;
            }
        }
    }    
}