@use "@/styles/system";

.content{
    @include system.container-width-1;
    display: grid;    
    grid-template-areas: 'col-left' 'col-right'; 
    grid-template-columns: 100%;
    margin-top: 20px;
    margin-bottom: 60px;    
    @media screen and (min-width: 769px){
        grid-template-areas: 'col-left col-right';  
        grid-template-columns:
        calc(48% - 25px)
        calc(52% - 25px)
        ;
        column-gap: 50px;
        margin-top: 40px;
        margin-bottom: 80px; 
    }
    @media screen and (min-width: 769px) and (max-width: 1199px){ 
        grid-template-columns:
        calc(47.5% - 25px)
        calc(52.5% - 25px)
        ;
    }
    @media screen and (min-width: 1200px){
        grid-template-columns:
        calc(48% - 25px)
        calc(52% - 25px)
        ;
    }
    .highlighted{
        @include system.font-level-7; 
        font-weight: 600;
        color: system.$black-2;
        line-height: 125%;
        @media screen and (min-width: 769px){
            line-height: 130%;
        }
    }
    p{
        @include system.font-level-11;   
        font-weight: 400;
        color: system.$black-2;
        line-height: 152%; 
        margin-bottom: 18px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .col_left{
        grid-area: col-left; 
        margin-bottom: 18px;
        @media screen and (min-width: 769px){
            margin-bottom: 0;
        }     
    }  
    .col_right{
        grid-area: col-right;   
        @media screen and (min-width: 769px){
            padding-top: 2px; 
        }
    }    
}