@use "@/styles/system";

.main{

  max-width: 1024px;
  margin: 40px auto auto auto;

  h1{
    @include system.font-level-1;
  }
  h2{
    @include system.font-level-2;
  }
  h3{
    @include system.font-level-3;
  }
  p{
    @include system.text;
  }

}