@use "@/styles/system";

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 18px; 

    .card{
        a{
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 100%;  
            background-color: system.$white;
            border: 1px solid system.$gray-5;        

            .image_wrapper{
                position: relative;
                aspect-ratio: 16 / 10;
                margin-right: 12px;
                .image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text_cont{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;     
                padding: 24px 15px;

                .title{
                    position: relative;
                    display: flex;
                    align-items: center;
                    @include system.font-level-9;
                    font-family: 'PPEiko',  Helvetica, sans-serif;
                    font-weight: 700;
                    line-height: 140%;
                    color: system.$black-2;
                    padding-left: 90px;
                    &::before{
                        position: absolute;
                        display: flex;
                        align-items: center;
                        left: 10px;
                        font-size: 70px;
                        color: system.$magenta;
                        border-right: 1px solid system.$magenta;
                        height: 100%;
                        width: 60px;
                    }
                }
            }            
        }

        &:nth-child(1){
            a{
                .text_cont{
                    .title{
                        &::before{
                            content: '1';
                        }
                    }
                }

            }                
        }
        &:nth-child(2){
            a{
                .text_cont{
                    .title{
                        &::before{
                            content: '2';
                        }
                    }
                }

            }
        }
        &:nth-child(3){
            a{
                .text_cont{
                    .title{
                        &::before{
                            content: '3';
                        }
                    }
                }

            }
        }
    }
}