@use "@/styles/system";

.container{
    padding: 35px 0;
    .wrapper{
        display: grid;
        grid-template-areas: 'avatar text';                       
        column-gap: 20px;
        padding: 15px 5px;
        border-top: 1px solid system.$gray-5;
        border-bottom: 1px solid system.$gray-5;
        .avatar{
            grid-area: avatar;        
            width: 75px;
            height: 75px;
            overflow: hidden;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text{
            grid-area: text;
            display: flex;
            align-items: center;
            p{                                
                @include system.font-level-11;   
                font-weight: 400;
                color: system.$black-2;
                line-height: 152%;                                   
                strong{
                    text-decoration: underline;
                }
            } 
        }                                             
    }
}