@use "@/styles/system";

.container{
    padding: 25px 0;    
    @media screen and (min-width: 769px){
        padding: 35px 0; 
    }
    .wrapper{
        display: grid;
        grid-template-areas: 'avatar text';                       
        column-gap: 15px;
        padding: 15px 5px;
        border-top: 1px solid system.$gray-5;
        border-bottom: 1px solid system.$gray-5;
        @media screen and (min-width: 769px){
            column-gap: 20px;
        }
        .avatar{
            grid-area: avatar;        
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 50%;
            @media screen and (min-width: 769px){
                width: 75px;
                height: 75px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text{
            grid-area: text;
            display: flex;
            align-items: center;
            p{                                
                @include system.font-level-12;   
                font-weight: 400;
                color: system.$black-2;
                line-height: 148%;     
                @media screen and (min-width: 769px){
                    @include system.font-level-11; 
                    line-height: 152%;
                }                              
                strong{
                    text-decoration: underline;
                }
            } 
        }                                             
    }
}