
/* Fonts */


/*Custom*/
@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/PPEiko-Bold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/PPEiko-Medium.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/PPEiko-Black.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter_Regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}



/* Colors */


$black: #000000;
$white: #fff;
$red: #EF3824;


/* Font Levels */

@mixin font-level-1 {
    font-size: 48px;
    font-family: 'PPEiko',  Helvetica, sans-serif;
}


@mixin font-level-2 {
    font-size: 32px;
    font-family: 'PPEiko',  Helvetica, sans-serif;
}


@mixin font-level-3 {
    font-size: 24px;
    font-family: 'PPEiko',  Helvetica, sans-serif;
}

@mixin text {
    font-size: 16px;
    font-family: 'Inter',  Helvetica, sans-serif;
}
