@use "@/styles/system";


.card{
    background-color: system.$white;
    border: 1px solid system.$gray-5;  
    display: grid;
    grid-template-areas: 'img-cont' 'text-cont'; 
    grid-template-columns: 100%;
    @media screen and (min-width: 769px){ 
        grid-template-areas: 'text-cont img-cont'; 
        grid-template-columns: 38% 62%;
    }

    .text_cont{
        grid-area: text-cont; 
        padding: 15px 15px 25px 15px;
        @media screen and (min-width: 769px){ 
            padding: 35px;
        }
        .title{
            @include system.font-level-4;
            font-family: 'PPEiko',  Helvetica, sans-serif;
            font-weight: 700;
            line-height: 115%;
            color: system.$black-2;
            margin-bottom: 18px;
            @media screen and (min-width: 769px){ 
                margin-bottom: 25px;
            }
            .hide_in_desk{
                @media screen and (min-width: 769px){ 
                    display: none;
                }
            }
        }
        .btn{
            @include system.button(primaryMagenta);
        }
    } 

    .img_cont{
        grid-area: img-cont;
        display: flex;
        column-gap: 12px;
        padding: 15px 0 0 15px;
        overflow: hidden;
        margin-bottom: 1%;
        @media screen and (min-width: 769px){ 
            padding: 35px 35px 35px 0;
            margin-bottom: 0;
        }
        .image{
            width: 210px;
            height: auto;                                   
            @media screen and (min-width: 769px){ 
                width: calc(33.3% - 7.8px);
            }
        }
    }       
}