@use "@/styles/system";

.wrapper{
    @include system.container-width-1;
    padding-bottom: 45px;
    .title{
        font-family: 'PPEiko',  Helvetica, sans-serif;
        @include system.font-level-2;        
        font-weight: 700;
        color: system.$black-2;
        line-height: 118%;
        max-width: 1200px;
        margin-top: 30px;
    }
    .summary{
        @include system.font-level-8;   
        font-weight: 400;
        color: system.$black-2;
        line-height: 150%; 
        max-width: 1100px;
        margin-top: 15px;
    }
    .credits{
        position: relative;
        padding-top: 18px;
        margin-top: 20px;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 50px;
            border-top: 1px solid system.$magenta;
        }
        p{
            @include system.font-level-12;
            font-weight: 400;
            line-height: 160%;            
            strong{
                font-weight: 600;
            }
            &.author{
                color: system.$black-2;
            }
            &.date{
                color: system.$gray-3;
            }
            .bullet{
                @include system.font-level-12; 
                color: system.$magenta;
                margin: 0 5px;
            }
        }
    }
}