@use "@/styles/system";

.wrapper{
    @include system.container-width-1;
    display: flex;
    column-gap: 15px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px){
        display: none;
    }
    .tag_filter{
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: fit-content;
        border: 1px solid system.$gray-5;
        border-radius: 10px;
        padding: 5px 10px 5px 5px;
        @include system.font-level-12;
        font-weight: 500;
        color: system.$black-2;
        .image{
            width: 42px;
            height: 42px;
            border-radius: 5px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}