@use "@/styles/system";

.wrapper{
    width: 100%;
    padding-top: 35px;
    margin-bottom: 20px;    
    @media screen and (min-width: 769px){
        @include system.container-width-1; 
        padding-top: 45px;   
        margin-bottom: 20px;               
    }
    .tag_filter{
        display: flex;
        align-items: center;
        column-gap: 10px;
        width: fit-content;
        border: 1px solid system.$gray-5;
        border-radius: 10px;
        padding: 5px 10px 5px 5px;
        @include system.font-level-12;
        font-weight: 500;
        color: system.$black-2;        
        .image{
            width: 35px;
            height: 35px;
            border-radius: 5px;
            overflow: hidden;
            @media screen and (min-width: 769px){
                width: 42px;
                height: 42px;                   
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}