/* Fonts */

/*Custom*/
@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/PPEiko-Bold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/PPEiko-Medium.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'PPEiko';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/PPEiko-Black.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'InterOh';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter_Regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
} 

@font-face {
	font-family: 'InterOh';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter_Medium.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'InterOh';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Inter_SemiBold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'InterOh';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Inter_Bold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

html,
body {
  max-width: 100vw;
}

body {
  color: #000;
  background: #fff;
  font-family: 'InterOh',  Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
	font-family: 'InterOh',  Helvetica, sans-serif;
    background-color: transparent;
    outline: inherit;
    border: none;
    cursor: pointer;
    padding: 0;
}

#main-container{
	padding-top: 56px;
	@media screen and (min-width: 769px){
		padding-top: 70px;
	}
}