@use "@/styles/system";


.default, .poster, .opinion{
    background-color: system.$white;
    border-top: 1px solid system.$gray-5;
    display: flex;
    height: 100%;  

    &.direction_desk_column{      
        @media screen and (min-width: 769px){  
            flex-direction: column;        
            border-left: 1px solid system.$gray-5;
            border-right: 1px solid system.$gray-5;
            border-bottom: 1px solid system.$gray-5;           
            .text_cont{
                padding: 24px 20px;               
            }
        }
    }

    &.direction_desk_row{    
        @media screen and (min-width: 769px){         
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 18px;
            width: 100%;  
            border-left: 1px solid system.$gray-5;
            border-right: 1px solid system.$gray-5;
            border-bottom: 1px solid system.$gray-5;
            .text_cont{
                justify-content: center;
                padding: 24px 20px;
            }    
        } 
    } 

    &.direction_mobile_column{
        @media screen and (max-width: 768px){
            flex-direction: column; 
            border-left: 1px solid system.$gray-5;
            border-right: 1px solid system.$gray-5;
            border-bottom: 1px solid system.$gray-5; 
            .text_cont{
                padding: 15px 15px;               
            }
        }
    }

    &.direction_mobile_row{
        @media screen and (max-width: 768px){
            padding: 15px 0;
            height: auto;
            display: grid;
            grid-template-areas: 'img-cont text-cont';
            grid-template-columns: 
            calc(50% - 7.5px)
            calc(50% - 7.5px)
            ;
            gap: 15px;   
            .text_cont{
                display: flex;
                justify-content: flex-start;
            }    
        }        
    }

    &.text_size_m{
        .text_cont{
            .title{
                @include system.font-level-9;
            }
        }
    }

    &.text_size_s{
        .text_cont{
            .title{
                @include system.font-level-11;
            }
        }
    }

    .fixed_hight{
        grid-area: img-cont;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width: 769px){ 
            aspect-ratio: 16 / 10;
            grid-area: auto;
        }
        .image{
            position: relative;
            aspect-ratio: 4 / 3;
            height: auto;
            width: 100%;            
            object-fit: cover;
            @media screen and (min-width: 769px){ 
                position: absolute;
                height: 100%;
                aspect-ratio: auto;
            }
        }
    }

    .variable_height{
        grid-area: img-cont;     
        display: flex;
        flex-direction: column;
        width: 100%;
        .image{
            aspect-ratio: 4 / 3;
            width: 100%;
            height: auto;                        
            object-fit: cover;
        }        
        @media screen and (min-width: 769px){
            .image{
                aspect-ratio: auto;
            }
        } 
    }

    .text_cont{
        grid-area: text-cont; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @media screen and (min-width: 769px){ 
            justify-content: space-between;
            grid-area: auto;
        }
        .tag{
            @include system.font-level-12;
            font-weight: 600;
            text-transform: uppercase;
            color: system.$magenta;
            margin-bottom: 8px;
            @media screen and (min-width: 769px){ 
                margin-bottom: 12px;
            }
        }
        .title{
            font-family: 'PPEiko',  Helvetica, sans-serif;
            font-weight: 700;
            line-height: 140%;
            color: system.$black-2;
        }
        .author{
            position: relative;
            @include system.font-level-12;
            font-weight: 400;
            color: system.$gray-2;
            padding-top: 10px;
            margin-top: 10px;
            @media screen and (min-width: 769px){ 
                padding-top: 18px;
                margin-top: 18px;
            }
            strong{
                font-weight: 600;
            }
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 25px;
                border-top: 1px solid system.$magenta;;
            }
        }
    }
}

// Estilos específicos type Poster
.poster{
    flex-direction: column;
    border-left: 1px solid system.$gray-5;
    border-right: 1px solid system.$gray-5;
    border-bottom: 1px solid system.$gray-5;
    .text_cont{
        padding: 24px 20px;
        .title{            
            @include system.font-level-9;
            line-height: 130%;
            @media screen and (min-width: 769px){
                @include system.font-level-6;
            }
        }
    }
}

// Estilos específicos Opinión
.opinion{
    .author_poster{
        position: relative;
        aspect-ratio: 16 / 6;
        display: flex;
        align-items: center;
        &::after{
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: system.$black-1;
            opacity: .35;
        }
        .avatar{
            position: absolute;
            left: 15px;
            z-index: 2;
            width: 115px;
            height: 115px;
            border-radius: 50%;
            background-color: system.$white;
            overflow: hidden;
            border: 3px solid system.$white;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .image{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }        
    }
    .text_cont{
        .author_top{
            position: relative;
            @include system.font-level-11;
            font-weight: 600;
            color: system.$magenta;
            padding-bottom: 18px;
            margin-bottom: 18px;
            strong{
                font-weight: 600;
            }
            &::after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 25px;
                border-bottom: 1px solid system.$magenta;
            }
        }
        .description{
            @include system.font-level-12;
            font-weight: 400;
            color: system.$black-2;
            line-height: 145%;
            margin-top: 15px;
        }
    }
}