@use "@/styles/system";

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .grid{
        display: grid;
        grid-template-columns: 1fr;   
        margin-bottom: 18px;  
        @media screen and (min-width: 769px){
            grid-template-columns: repeat(3, 1fr);   
            gap: 18px;                     
        }  
    }
    .show_more_btn{
        @include system.button(secondary);
        margin-top: 10px;
    }
}