@use "@/styles/system";

.wrapper{
    display: flex;
    column-gap: 6px;
    row-gap: 8px;
    flex-wrap: wrap;
    padding: 5px 0;
    @media screen and (min-width: 769px){
        align-items: center;
        gap: 8px; 
        padding: 10px 0;       
    }
    .title{
        @include system.font-level-11;   
        font-weight: 600;
        color: system.$black-2;
        width: 100%;
        margin-bottom: 8px;
        @media screen and (min-width: 769px){
            width: auto;
            margin-bottom: 0;
        }
    }
    .tag_btn{
        @include system.button(secondary);
    }
}