@use "@/styles/system";

.wrapper{
    @include system.container-width-1;
    display: flex;
    flex-direction: column;    
    padding-bottom: 35px;
    @media screen and (min-width: 1200px){
        padding-bottom: 55px; 
    }
    .image{
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }
    .caption{
        @include system.font-level-12;   
        font-weight: 400;
        color: system.$gray-2;
        line-height: 150%; 
    }
}