@use "@/styles/system";

.container{
    width: 100%;
    margin-bottom: -20px;
    @media screen and (min-width: 769px){  
        margin-bottom: -40px;
    }
    
    .wrapper{
        @include system.container-width-1;        
        display: grid;
        grid-template-areas: 'col-left';        
        padding-top: 15px;
        padding-bottom: 15px;
        @media screen and (min-width: 1200px){  
            grid-template-areas: 'col-left col-right';
            grid-template-columns:
            calc(100% - (330px))
            300px
            ;
            column-gap: 30px;
            padding-top: 30px;
        }

        .col_left{
            grid-area: col-left;        
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            padding-top: 20px;   
            row-gap: 45px;   
            margin-bottom: 50px;    
            @media screen and (min-width: 769px){
                padding-top: 25px;
                row-gap: 60px;
                margin-bottom: 80px
            }                             
        }

        .col_right{        
            grid-area: col-right;            
            display: none;
            @media screen and (min-width: 769px){ 
                position: relative;
                display: block;
                padding-bottom: 15px;
            }
            
            .ad_wrapper{
                position: sticky;
                top: 100px;
                background-color: #e3e3e3;
                width: 100%;
                height: 600px;
            }
        }
    }
}