@use "@/styles/system";

.wrapper{
    border-top: 1px solid system.$gray-5;
    margin-top: 40px;

    .top_cont{
        @include system.container-width-1;        
        display: grid;
        grid-template-areas: 'col-one col-two col-three col-four';
        grid-template-columns:
        50% 20% 20% 10%
        ;
        padding: 40px 15px;

        .col_one{
            grid-area: col-one;
            .brand{
                width: 145px;
                height: auto;
                margin-bottom: 22px;
            }
            .social_media{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                a{
                    filter: grayscale(100%);
                    border-bottom: none;
                    &:hover{               
                        filter: grayscale(0%);
                        border-bottom: none;
                    }
                }
                .facebook{
                    margin-right: 19px;
                    img{
                        width: 13.5px;
                        height: auto;
                    }
                }
                .instagram{
                    margin-right: 19.5px;
                    img{
                        width: 21.5px;
                        height: auto;
                    }
                }
                .youtube{
                    margin-right: 18.5px;
                    img{
                        width: 25px;
                        height: auto;
                    }
                }
                .pinterest{
                    margin-right: 15px;
                    img{
                        width: 17px;
                        height: auto;
                    }
                }
                .twitter{
                    margin-right: 12px;
                    img{
                        width: 21px;
                        height: auto;
                    }
                }
                .spotify{
                    img{
                        width: 23px;
                        height: auto;
                    }
                }
            }
            .rss_newsletter{
                display: flex;
                column-gap: 30px;
                .rss_btn{
                    display: flex;
                    align-items: baseline;
                    text-transform: uppercase;
                    img{
                        width: 20px;
                        height: auto;
                        margin-right: 6px;
                    }
                }
                .newsletter_btn{
                    display: flex;
                    align-items: baseline;
                    img{
                        width: 24px;
                        height: auto;
                        margin-right: 6px;
                    }
                }
            }
        }

        .col_two{    
            grid-area: col-two;    
        }

        .col_three{
            grid-area: col-three;          
        }

        .col_four{
            grid-area: col-four;  
            display: flex;
            justify-content: flex-end;
            .go_to_btn{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1.5px solid system.$magenta;
                background-image: url('../../../../public/assets/icons/top_arrow_black.svg');
                background-repeat: no-repeat;
                background-size: 45% auto;
                background-position: center 45%;
                &:hover{
                    background-color: system.$magenta;
                    background-image: url('../../../../public/assets/icons/top_arrow_white.svg');
                }
            }        
        }

        h5, a, .rss_btn, .newsletter_btn{
            @include system.font-level-12;
            line-height: 120%;
            margin-bottom: 6px;
        }

        h5{
            font-weight: 700;
            text-transform: uppercase;
            color: system.$magenta;
        }

        a, .rss_btn, .newsletter_btn{
            display: block;
            width: fit-content;
            font-weight: 400;
            color: system.$gray-1;
            border-bottom: 1px solid transparent;            
            &:hover{
                color: system.$black-1;
                border-bottom: 1px solid system.$magenta;
                img{
                    filter: grayscale(0%);
                }
            }
            img{
                filter: grayscale(100%);
            }
        }
    }

    .bottom_cont{
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;
        padding: 30px 0;
        border-top: 1px solid system.$gray-5;
        display: grid;
        grid-template-areas: 'col-one col-two';
        grid-template-columns:
        50% 50%
        ;
        a, p{
            @include system.font-level-12;
            line-height: 120%;
            color: system.$gray-1;
            border-bottom: 1px solid transparent;
        }
        a{
            &:hover{
                color: system.$black-1;
                border-bottom: 1px solid system.$magenta;
            }
        }
        hr{
            height: 18px;
            margin: 0 10px;
            border: none;
            border-right: 1px solid system.$gray-1;
            color: system.$gray-1;
        }
        .col_one{
            grid-area: col-one;
            display: flex;
            align-items: center;
        }
        .col_two{
            grid-area: col-two;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .data_fiscal{
                margin-right: 10px;
                img{
                    width: 28px;
                    height: auto;
                }
            }
        }
    }
}