@use "@/styles/system";

.container{
    background-color: system.$gray-6;
    width: 100%;
    margin-bottom: -40px;
    @media screen and (max-width: 768px){
        display: none;
    }
    .wrapper{
        @include system.container-width-1;        
        display: grid;
        grid-template-areas: 'col-left col-right';
        grid-template-columns:
        calc(100% - (330px))
        300px
        ;
        column-gap: 30px;
        padding-top: 30px;
        padding-bottom: 15px;

        .col_left{
            grid-area: col-left;        
            display: flex;
            flex-direction: column;
            row-gap: 60px;
            padding-top: 25px;       
            .section{
                .title{
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    @include system.font-level-8;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: system.$black-2;
                    margin-bottom: 35px;
                    .icon{
                        height: 28px;
                        width: auto;
                    }
                }
                &:last-of-type{
                    margin-bottom: 80px;
                }
            }                         
        }

        .col_right{        
            grid-area: col-right;
            position: relative;
            padding-bottom: 15px;
            
            .ad_wrapper{
                position: sticky;
                top: 100px;
                background-color: #e3e3e3;
                width: 100%;
                height: 600px;
            }
        }
    }
}