@use "@/styles/system";

.container{
    padding: 35px 0;
    .wrapper{
        display: grid;
        grid-template-areas: 'imagen text';                       
        column-gap: 25px;
        padding: 15px 2px;
        border-top: 1px solid system.$gray-5;
        border-bottom: 1px solid system.$gray-5;
        .image{
            grid-area: imagen;        
            width: 175px;
            height: 175px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text{
            grid-area: text;
            display: flex;
            align-items: center;
            a{               
                font-family: 'PPEiko',  Helvetica, sans-serif;                        
                @include system.font-level-8;   
                font-weight: 700;  
                color: system.$black-2;
                line-height: 140%;                                   
            } 
        }                                             
    }
}